etc/ave/ave2007.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT ave-corpus (q+)>
<!ELEMENT q (q_str, a+)>
<!ATTLIST q
	id CDATA #REQUIRED
	lang CDATA #REQUIRED
>
<!ELEMENT q_str (#PCDATA)>
<!ELEMENT a (a_str, t_str)>
<!ATTLIST a
	id CDATA #REQUIRED
	value CDATA  #REQUIRED
>
<!ELEMENT a_str (#PCDATA)>
<!ELEMENT t_str (#PCDATA)>
<!ATTLIST t_str
	doc CDATA #REQUIRED
>
